{%for wish in wishes %}

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title ">{{wish.name}}</h4>
              <p class="card-text bg-success">{{wish.wishes}}</p>
            </div>
          </div>
        </div>

{%endfor%}
      






        <!-- PORTFOLIO IMAGE 2 -->
        <div class="col-md-4">
          <div class="grid overlay">
            <figure> <img class="img-responsive" src="{% static 'ramWedsSita/images/portfolio/folio02.jpg' %}" alt="">
              <figcaption>
                <h5>Mindblow</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-overlay --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 3 -->
        <div class="col-md-4">
          <div class="grid overlay">
            <figure> <img class="img-responsive" src="{% static 'ramWedsSita/images/portfolio/folio03.jpg' %}" alt="">
              <figcaption>
                <h5>Awesome</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-overlay --> 
        </div>
      </div>
      <!-- /row --> 
      
      <!-- PORTFOLIO IMAGE 4 -->
      <div class="row">
        <div class="col-md-4 ">
          <div class="grid overlay">
            <figure> <img class="img-responsive" src="{% static 'ramWedsSita/images/portfolio/folio04.jpg' %}" alt="">
              <figcaption>
                <h5>Lovely</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-overlay --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 5 -->
        <div class="col-md-4">
          <div class="grid overlay">
            <figure> <img class="img-responsive" src="{% static 'ramWedsSita/images/portfolio/folio05.jpg' %}" alt="">
              <figcaption>
                <h5>Photos</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-overlay --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 6 -->
        <div class="col-md-4">
          <div class="grid overlay">
            <figure> <img class="img-responsive" src="{% static 'ramWedsSita/images/portfolio/folio06.jpg' %}" alt="">
              <figcaption>
                <h5>Reception</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-overlay --> 
        </div>