<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">

<style>

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

body {
  background-image: url("{% static 'dhaka.jpeg' %}");
  background-repeat: repeat;
}
</style>


<title>
    {%block title%} {%endblock title%}
</title>

<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

<!-- Custom CSS -->

<link href="{% static 'ramWedsSita/css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/animate-custom.css' %}" rel="stylesheet"> 

</head>

<body>
    <h2>Some posts on Marriage:</h2>
    <button type="button" class="collapsible">Vedic Marriage</button>
    <div class="content">
        <p>Marriage is also a sastric ceremony.
We spend a lot of money on it. What about such expenses? " it is asked.
All the lavish display we see at weddings today are unnecessary and do
not have the sanction of the scriptures. Specifically, the dowry that forms
such a substantial part of the marriage expenses has no scriptural
sanction at all. If money were important to the performance of the rites
enjoyed by our canonical texts it would mean that our religion is meant
for rich people. In truth it is not so.</p><p>
Of the four aims of life - dharma, material acquisitions, desire and
liberation - we seek gratification of kama alone (in the form of pleasure,
love, etc.). And to have our desires satisfied we keep struggling to acquire
material things. Our efforts must be directed towards obtaining liberation
through the practice of dharma. All that we need to do for this ideal is to
resolve to live a simple life. There should then be no compulsion to run
after money and other material goods and other. It would naturally
become easier for us to practice dharma and reap the ultimate fruit that
is eternal bliss.</p>
    </div>
    
    <button type="button" class="collapsible">What are the rites to be performed at a marriage?</button>
    
    <div class="content">
      <p>You will find answers to many such questions in the Vedas.The Upanisads proclaim that all the Vedas together 
      point to a single Truth(Kathopanishad, 2. 15) What is that Truth? "The Vedas speak in one voiceof a Supreme Entity
       revealing itself as the meaning of Omkara. Yoga, meditation, austerities, sacrifices and other rites, ceremonies
        like marriage, state affairs, social life, poetry: what is the goal of all these? Itis the One Reality. And that
     is the goal of the Vedas also."</p>
     <p>Once the parents of a girl arranged her marriage to a boy who happened
to be a relative. But the girl said "I'll marry the greatest man in the world.
"She was stubborn in her decision and the parents in their helpnessness
said to her "Do what you like.”The girl thought that the king was the greatest of men and that she would
get married to him. One day, as the king was being taken in a palanquin,
an ascetic passed by. The king got down and prostrated himself before
the sanyasin and got into his palanquin again. Witnessing the scene the
girl thought to herself:"I was wrong all these days in thinking that the king
was the greatest of men. The ascetic seems to be greater. I must marry
him. "She then followed the holy man.</p><p>
The ascetic stopped on his way to worship an idol of Ganapati installed
under a pipal tree. The girl saw it and came to the conclusion:"This
Ganapati is superior to the sanyasin. I must marry him. “She gave up her
chase of the ascetic and sat by the idol of Ganapati.</p><p>
It was a lonely place and no devotee came up to worship the god. After
some days a dog came and relieved itself on the idol. The girl now
decided that the dog must be greater than Ganapati. She went chasing
the dog and as it trotted along, with the girl keeping pace with it, a boy
threw a stone at it and it wailed loudly in pain. a young man saw this and
reprimanded the boy for his cruelty. The girl now told herself "I had
thought that the boy was superior to the dog. But here comes a young
man to take him to task. So he must be the greatest of them all.
"Eventually it turned out that the young man was none other then the
groom that her parents had chosen for her.</p><p>
The girl in the story went in pursuit of one she thought was far away but
in the end it turned out that what she had sought was indeed closeby.
"You look for God thinking him to be far from you. So long as your
ignorant(that is without jnana)he is indeed far from you. Even if you look
for him all over the world you will not find him. He is in truth with you.
""Durat dure antike ca, "says the sruti (Farther than the farthest, nearer
than the nearest).</p>
    </div>
   
    <button type="button" class="collapsible">Why chant vedic mantra during marriage?</button>
    
    <div class="content">
      <p>We perform a number of rites in our home: marriage, sraddha, upakarma, and so on, and during these functions
       we chant Vedic mantras as instructed by the priest. By the grace of Isvara we have not reached the unfortunate
        state of totally discarding such rites. However, there is a declining trend, a weakening of Vedic practices.
         One important reason for this is that we do not know the meaning of the mantras chanted.Educated people nowadays 
         have no true involvement in rites in which they have to repeat the mantras after the priest without knowing the meaning.</p>
      <p>Educated people nowadays have no true involvement in rites in which they have to repeat the mantras after the priest without 
      knowing the meaning. We cannot expect to convince people that the chanting of the mantras (even without knowing their meaning) 
      is beneficial. The hymns for each function are different and also different in significance. If we appreciate this fact, we will 
      realise that there is a scientific basis for them. Besides, they have an emotional appeal which willl be evident only when we know 
      their meaning. So to know the meaning of the mantras is to have greater involvement in the functions in which they are chanted. That
     is thereason why the mouthing of syllables purposelessly has come to be
[irreverently] likened to the chanting of “sraddha mantras". The meaning
of the mantras (including those chanted at sraddhas) must be understood
by the priest as well as by the performer of the rites; we must evolve a
scheme for theis purpose.</p><p>
First the priest himself must know the meaning of the mantras and the
significance of the rituals at which he officiates. Today the majority of
priests are ignorant of the meaning of what they chant. If a karta or a
yajamana (the man on whose behalf a rite is conducted) asks his priest,
“What does this mean? ", the latter is unable to give an answer. How
would you then expect the karta to have faith in the rites?</p><p>
I believe that many middle-aged people today are keen to know the
meaning of the mantras. I also think that if they tend to lose faith in
rituals it is because they have to repeat parrot-like the hymns chanted by
the priest. So we are making efforts to ensure that those who officiate at
rituals (the upadhyayas) accquire proficiency in Veda-bhasya to enable
them to explain the meaning of the mantras.
According to the Nirukta (one of the six Angas of the Vedas) a Brahmin
comes under a curse by chanting the Vedas without knowing their
meaning.</p> <p>
Nowadays, we do not have a month's time in which to prepare for a
wedding. The problem facing the bride's people is which group is to play
the band, who is to give the dance recital, how the marriage procession is
to be conducted. . . We attach the least importance to that which is the
very soul of the marriage sacrament, I mean the Vedic mantras chanted
at that time. Those who recite these mantras, the Vedic panditas, are also
treated as the least important to a marriage celebration. There are
perhaps a few who have faith in the mantras and for their benefit and
enlightenment at least some Brahmins must be instructed in the Veda-
bhasya.
</p>
<p>We print invitation cards for wedding and upanayana ceremonies and
distribute them among a large number of friends and relatives - in fact we
invite an entire town or village to the function. And we spend thousands.
But we do not pay any attention to the ritual itself, to its significance. This
is not right.</p></p>
If we know the meaning of the mantras chanted at a function, we stand
to gain more benefits from it. We go through rites because we do not
have the courage to give them up. Similarly, we must come to realise that
it is wrong to perform a rite without knowing the meaning of the mantras
chanted; we must therefore take the help of a pandita in this matter. As
mentioned before, going through works with a knowledge of the
significance and meaning of the mantras is more beneficial. We must
have faith in the Upanishadic saying" Yadeva vidyaya karoti tadeva
viryavattaram bhavati".</p><p>
At an upanayana, it is the brahmacarin (as the karta) who chants the
mantras; similarly it is the groom alone who intones them at a marriage.
What do you expect of all invitees to do at such functions? Do they come
only for the luncheon or dinner, or to keep chatting, to see the dance
recital or to listens to the nagasvaram music? Is their part only to make
themselves happy in this manner? No. The Vedic mantras deserve ourhighest respect. When they are being intoned we must honour them by
listening to them intently. The mantras create well- being for all. If the
invitees and others at a function listen to them and are able to follow
their meaning they will earn merit even though they do not have the role
of the karta in it.</p>
    </div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</body>



</html>